@media all and (min-width: 1000px) {
  .block-text_2_column {
    display: flex;
  }
  .block-text_2_column > div {
    flex: 1 1 0;
  }
  .column-1 {
    border-right: var(--border);
    padding: 0 3rem 0 .5rem;
  }
  .column-2 {
    padding: 0 .5rem 0 3rem;
  }
}

.contact-page main {
  text-align: center;
}