@media all and (max-width: 1000px) {
  nav {
    background: var(--color-bg-body);
    background-attachment: fixed;
    display: none;
    height: 100dvh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100dvw;
    z-index: 10;
  }

  nav.open {
    display: block;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    gap: 1rem;
  }

  nav li {
    border-top: var(--border);
    padding-top: 1rem;
    width: 100%;
  }

  nav ul a {
    display: block;
  }

  .mm-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
}

@media all and (min-width: 1000px) {
  .mm {
    display: none;
  }
}

.menu-open,
.menu-close {
  cursor: pointer;
}