:root {
  /* Borders */
  --border: 1px solid var(--color-border);

  /* Colors */
  --color-bg: #fff;
  --color-bg-body: linear-gradient(75deg, #2f3462 45%, #4f58bc 90%);
  --color-border: #aaa;
  --color-button: #3b4183;
  --color-button-hover: #4a51a0;
  --color-button-text: #fff;
  --color-button-home: #fff;
  --color-button-home-text: #1d1d1d;
  --color-code: var(--color-text);
  --color-code-bg: #fefefe;
  --color-link: #194ba8;
  --color-link-hover: #fff;
  --color-text: #1d1d1d;

  /* Fonts */
  --font-family-book: CircularBook, Arial;
  --font-family-medium: CircularMedium, Arial;
  --font-size-medium: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --color-bg: #141629;
    --color-bg-body: linear-gradient(75deg, #141629 45%, #2f3570 90%);
    --color-border: #3b3b3b;
    --color-code: #fff;
    --color-code-bg: #2b2b2b;
    --color-link: #c9d6ff;
    --color-link-hover: #1d1d1d;
    --color-text: #f1f1f1;
  }
}